body {
	background-color: lightcyan;
	font-size: 1.2rem;
	text-align: center;
}
#tree, #snow {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0;
}
#H {
	color: orchid;
	font-size: 3em;
	word-spacing: 50px;
}
#tree {
	font-weight: bold;
}
#snow {
	color: blue;
	overflow: hidden;
}