body {
	background-color: lightcyan;
	font-size: 1.2rem;
	text-align: center;
	user-select: none;
}
#H {
	color: orchid;
	font-size: min(3em, 10vw);
	white-space: nowrap;
	z-index: 100;
}
#audio {
    display: none;
}



@font-face {
	font-family: 'symbols';
	src: url('symbols.woff') format('woff'), url('symbols.ttf') format('truetype');
}
.icon {
	font-family: symbols;
	cursor: pointer;
	color: darkblue;
	vertical-align: middle;
}
#sidebar-label {
	position: fixed;
	top: 5px;
	left: 5px;
	font-size: 50px;
	line-height: 25px;
	z-index: 1001;
}
#sidebar-first-row {
	margin-left: 50px;
	height: 30px;
	font-size: 30px;
	line-height: 30px;
	text-align: left;
	white-space: nowrap;
}



#sidebar {
	position: fixed;
	top: 0;
	width: 300px;
	left: -300px;
	transition: left .5s;
	height: 100%;
	background: rgba(0, 0, 0, 0.1);
	z-index: 1000;
	overflow: auto;
}
@media only screen and (max-width: 800px) {
	#sidebar {
		width: 100%;
		left: -100%;
		background: lightcyan;
	}
}
#sidebar-checkbox {
	display: none;
}
#sidebar-checkbox:checked ~ #sidebar, #sidebar:focus-within {
	left: 0;
	transition: left .5s;
}



#tree, #snow {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0;
	z-index: -100;
}
#tree {
	font-weight: bold;
}
#snow {
	color: blue;
	overflow: hidden;
	display: flex;
	justify-content: center;
}